[mysqld]
skip-grant-tables
# tuning
########################################################################
innodb_buffer_pool_size=28991029248
innodb_buffer_pool_chunk_size=268435456
innodb_buffer_pool_instances=4

#innodb_buffer_pool_size=13958643712
#innodb_buffer_pool_chunk_size=268435456
#innodb_buffer_pool_instances=4

innodb_temp_data_file_path=ibtmp1:12M:autoextend:max:1024M

thread_cache_size=250

innodb_log_file_size=512M

innodb_log_files_in_group=10

innodb_file_per_table=1

tmp_table_size=128M

#table_cache_size=10000

#expire_log_days

#max_allow_packet=64M

#max_connect_errors
innodb_read_io_threads=15
innodb_write_io_threads=15

slow_query_log=1
long_query_time=1
log_queries_not_using_indexes=1
min_examined_row_limit=100
log_slow_admin_statements=0
log_slow_slave_statements=0

max_connections=3000

skip-host-cache
skip-name-resolve

#######################################################################


sync_binlog=0

skip_ssl
#设置大小写不敏感
lower_case_table_names=1
#设置字符集
character-set-server=utf8
collation-server=utf8_general_ci

sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# 在SQL中执行 select now(); 看时间是否与当前时间差8小时，如果是这样的话，那么需要在数据库配置中增加一个时区转换。一般在使用docker官方的mysql源时会出现这个问题。
default-time-zone='+08:00'

[mysql]
#设置字符集
default-character-set = utf8

[mysql.server]
#设置字符集
default-character-set = utf8

[mysqld_safe]
#设置字符集
default-character-set = utf8

[client]
#设置字符集
default-character-set = utf8
